# MacOS
.DS_Store

# Virtual environments
.venv/

# Python
__pycache__/
*.py[oc]
*.egg-info/
build/
dist/
wheels/

# WandB
wandb/

# Checkpoint files
runs/

# Etcetera
notes.md
level_design.md
presentation/
